/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 16px;
  font-family: "Suez One", serif;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  font-family: "Arial regular";
  list-style: none;

}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

/*container*/
.container {
  max-width: 900px;
  margin: 0 auto;
}

/*section*/
.section {
  margin: 30px 0;
}

/*btn*/
.btn {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0 20px 0;
  padding: 3px 9px;
  border-radius: 7px;
  border-width: 1px;
  color: #ffffff;
  text-shadow: 0px 1px 0px rgb(41, 41, 41);
  box-shadow: 0 1px 0 #ffffff inset;
}
.btn--reflect {
border: 1px solid #389300;
-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent),
color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2))); /*отражение которое не работает в мазиле, что жаль*/
}

    /*background*/
.bg-gradient_black {
  background: linear-gradient(0deg, rgba(16, 16, 16, 1) 0%, rgba(113, 113, 113, 1) 100%);
}
.bg-gradient_green {
  background: linear-gradient(0deg, rgba(47, 135, 0, 1) 0%, rgba(122, 237, 59, 1) 100%);
}
.bg-gradient_grey {
  background: linear-gradient(180deg, rgba(244, 244, 244, 1) 0%, rgba(224, 224, 224, 1) 100%);
}
.bg-gradient_white {
  background: linear-gradient(360deg, rgba(238, 238, 238, 1) 0%, rgba(198, 198, 198, 1) 22%, rgba(219, 219, 219, 1) 23%, rgba(219, 219, 219, 1) 58%, rgba(250, 250, 250, 1) 93%);
}

    /*border*/
.br-10 {
  border-radius: 10px;
}
.br-top-10 {
  border-radius: 10px 10px 0 0;
}
.br-bottom-10 {
  border-radius: 0 0 10px 10px;
}
/*text-align*/
.ta-center {
  text-align: center;
}
/*cols*/
.cols-3 {
  width: 27%;
  box-shadow: 0 0 5px 0 #333333;
}

/*title*/
.title {
  padding-top: 20px;
  line-height: 32px;
  font-size: 48px;
  color: #50b319;
  text-shadow: -1px -1px #333, -1px -1px #ffffff;
}
/*font-size*/
.fs-36 {
  font-size: 36px;
}
.fs-30 {
  font-size: 30px;
}
/*offer*/
.offer, .promo {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.offer__suptitle {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 20px 5px 20px;
}

.offer__prise, .promo__price {
  font-size: 24px;
  font-weight: bold;
  color: #424242;
}

/*promo*/
.promo {
  min-width: 1px;
}

.promo__item {
  border: 1px solid #ffffff;
  position: relative;
}

.promo__line {
  position: absolute;
  top: 8px;
  right: -26px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: #ffffff;
  border-bottom: 24px solid black;
  border-left: 24px solid transparent;
  border-right: 24px solid transparent;
  height: 0;
  width: 92px;
}
.promo__line:after {
  content: "";
  display: block;
  position: absolute;
  top: 24px;
  right: 64px;
  width: 0;
  height: 0;
  border-bottom: 4px solid transparent;
  border-left: 4px solid black;
}
.promo__line:before {
  content: "";
  display: block;
  position: absolute;
  top: 24px;
  right: -24px;
  width: 0;
  height: 0;
  border-bottom: 4px solid transparent;
  border-right: 4px solid black;
}

.promo__price {
  color: #5e5e5e;
  padding-bottom: 30px;
}

.promo__list {
  color: #ffffff;
  text-decoration: underline;
  line-height: 45px;
  cursor: pointer;
}

.promo__list li {
  border-bottom: 1px solid #2a9209;
  border-top: 1px solid #76d618;
  background: url("../img/check.png") no-repeat 30px 10px;
  padding-left: 24px;
}

.promo__list li:first-child {
  border-top: 1px solid #000000;
}

.promo__list li:last-child {
  border-bottom: none;
}

/*table*/
.table {
  box-shadow: 0 0 5px 0 #333333;
  border-radius: 10px;
  color: #464646;
  background: rgb(113,225,51);
  background: linear-gradient(180deg, rgba(113,225,51,1) 0%,  /* градиент на всю таблицу*/
  rgba(55,147,0,1) 30%,
  rgba(244,244,244,1) 31%,
  rgba(224,224,224,1) 100%);
}

.table__body img {
  display: flex;
  margin: 0 auto;
}

.table__head {
  border-bottom: 1px ridge #0e4a01;
}
.table__head p {
  padding-left: 20px;
}
.table__head th{
  border-left: 1px ridge #32b411;
}

.table__head th:first-child, .table__head td:first-child {
  border: none;
}

.table__title {
  color: #ffffff;
  text-shadow: -1px 1px #333;
  text-align: start;
}

.table__subtitle {
  text-align: start;
  font-family: "Arial regular";
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
}

.table__body {
  font-size: 14px;
  font-family: Arial;
  text-align: center;
  align-items: center;
  line-height: 35px;
}

.table__body td {
  border-left: 1px ridge #d2d2d2;
}
.table__body th {
  text-align: start;
  padding-left: 20px;
}

tbody tr:nth-child(odd) {
  background-color: #eaeaea;
}

tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

.table__footer {
  text-align: center;
  border-top: 1px solid #d0d0d0;
}





/*footer*/
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__title {
  font-size: 27px;
  display: inline-flex;
  align-items: center;
  padding: 2px 15px;
  text-shadow: 0 1px 0 rgb(41, 41, 41);
}

.footer__arrow {
  cursor: pointer;
  margin-left: 10px;
  padding: 1px 3px 2px 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  border: 1px solid #333333;
  border-radius: 50%;
  background: rgb(20, 20, 20);
  background: linear-gradient(0deg, rgba(20, 20, 20, 1) 0%, rgba(90, 90, 90, 1) 100%);
}

.footer__download {
  padding: 0;
  box-shadow: 0 1px 0 #b5f494 inset;
  border-width: 1px;
  border-radius: 8px;
  color: #ffffff;
}

.footer__download a {
  margin: 0 5px;
  text-decoration: none;
  color: #3b8d0f;
}

.footer__list {
  background-color: #dfdfdf;
  font-size: 12px;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

.footer__list li {
  display: inline-flex;
  font-family: 'PT Sans', sans-serif;
  border-left: 1px solid #3b8d0f;
  height: 10px;
  align-items: center;
}

.footer__list li:first-child {
  border: none;
}

.footer__trusted {
  min-width: 1px;
}