*, *:after, *:before {
    box-sizing: border-box;
}

body{
    font-size: 16px;
    color: #333333;
    font-family: ChunkFive;
    margin: 0 auto;
}
li {
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
p {
    margin: 0;
}

        /*container*/
.container  {
    max-width: 900px;
    margin: 0 auto;
}
.section {
    margin: 30px 0;
}
        /*offer*/
.offer {
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
}
.offer__item {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #333333;
    background: rgb(238,238,238);
    background: linear-gradient(360deg, rgba(238,238,238,1) 0%, rgba(198,198,198,1) 22%, rgba(219,219,219,1) 23%, rgba(219,219,219,1) 58%, rgba(250,250,250,1) 93%);
}
.offer__title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 20px 5px 20px;


}
.offer__type {
    font-size: 48px;
    color: #50b319;
    text-shadow: -1px -1px #333;


}